html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

:root {
  --primary-color: #0069f6;
  --primary-light-color: #d1e4fd;
  --background-color: #fff;
}

button {
  color: var(--primary-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

button:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.grid {
  padding: 20px;
}

.sm-vpb {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.num-percent .custom-num-percent {
  color: #999;
}

.num-percent::after {
  /* TODO */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px; /* Adjust the width of the separator as needed */
  background-color: #ccc; /* Adjust the color of the separator as needed */
  z-index: 1;
}

.num-percent .label,
.custom-num-percent .label {
  font-size: 1em;
  padding: 8px 0;
}

.num-percent .value,
.custom-num-percent .value {
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
  padding: 8px 0;
}

.num-percent .bar,
.custom-num-percent .bar {
  height: 10px;
  border-radius: 2px;
}

.custom-num-percent .bar {
  height: 20px;
  border-radius: 10px;
}

.num-percent .percentage,
.custom-num-percent .percentage {
  font-size: 0.8em;
  padding: 8px 0;
}

.custom-vbar {
  padding: 40px;
  background-color: #fff;
  grid-column-gap: 3px;
  min-height: 160px;
  max-width: 600px;
}

.custom-vbar div {
  background-color: var(--primary-color);
  border-radius: 2px;
}

.sm-grid2 {
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

.abc-sm-grid2 {
  grid-template-columns: 8fr 4fr;
  grid-gap: 0;
}

.section {
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
}

.apple {
  grid-template-columns: repeat(8, 1fr);
}

.banana {
  grid-template-columns: 3fr 1fr;
}

.ibm {
  grid-template-columns: repeat(1, 1fr);
}

.lenovo {
  grid-template-columns: repeat(8, 1fr);
}

.sgi {
  grid-template-columns: repeat(1, 1fr);
}

.arena {
  grid-template-columns: repeat(20, 1fr);
}

.padding-10 {
  padding: 10px;
}

@media (width <= 900px) {
  .lenovo {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width <= 1200px) {
  .banana {
    grid-template-columns: 1fr;
  }

  .custom-vbar {
    justify-self: center;
    min-width: 400px;
    padding: 0;
  }
}